<order-list show="{show}">
	<on-scroll
    if="{opts.merchant.pubno.status.shelf === 1}"
    infinite-scroll='{opts.nextPage}'
    infinite-scroll-disabled='{opts.partakers.busy}'
    infinite-scroll-distance='{100}'
  >
	<div class="mybagc">
		<div class="well-order1" each="{partaker in parent.opts.partakers.items}" onclick="{parent.parent.goOrderDetail(partaker)}">
			<p class="cjsj">创建时间:{$.util.filter.date(new Date(partaker.time_join), 'yyyy-MM-dd hh:mm')}</p>
			<div class="zhuangtai">
				<span>{partaker.group.isBefore ? '拼团中' : '截团'}</span>
				<span if="{partaker.commodity.model !== 'ladder'}">
					{partaker.status.success ? '成团' : '未成团'}
				</span>
			</div>
			<div class="media media-order">
				<div class="media-left">
					<a>
						{partaker.commodity.cover}
						<img style="border-radius: 3px;width: 110px;" class="media-object" riot-src="{'http://img1.ifindu.cn/crop/w_430/h_310/'+ partaker.commodity.cover}" if="{partaker.commodity.cover}">
						<img-lazy-loader width="430" height="300" if="{!partaker.commodity.cover}" class="img-responsive" holder="svg:holder.js/100px186?theme=gray&text=91pintuan.com[91拼团]"></img-lazy-loader>
						<!--<img style="border-radius: 3px;width: 110px;" class="media-object" holder="holder.js/120x85?theme=gray&text=91拼团" class="img-responsive" if="{!partaker.commodity.cover}">-->
					</a>
				</div>
				<div class="media-body1">
					<p class="media-heading1">{partaker.commodity.name}</p>
					<div style="font-size: 13px;color: #231815;" if="{partaker.commodity.model !== 'ladder'}">拼团价:{$.util.filter.currency(partaker.commodity.money.discount)}</div>
					<div if="{partaker.commodity.model==='ladder'}" class="word-break">
					拼团价:<span each="{ldprc, idx in partaker.commodity.ladder.prices}">{ldprc.price}<i if="{idx != partaker.commodity.ladder.prices.length-1}">/</i></span>元
					</div>
					<div style="font-size: 13px;color: #231815;">
						<span>{partaker.status.pay===1 ? '已支付' : '未支付'}</span>
						<span>{partaker.commodity.status.paytype==='prepay' ? '(订金)' : ''}</span>
					</div>
					<!--<div>
						<span ng-bind="partaker.group.isBefore?'拼团中':'截团'"></span>
						<span 
							ng-if="partaker.commodity.model !== 'ladder'"
							ng-bind="partaker.status.success?'成团':'未成团'">
						</span>
					</div>-->
				</div>
			</div>
			<!--<div class="order-bottom">
				<span ng-if="!partaker.group.isBefore">
					<span 
						ng-if="partaker.commodity.model==='ladder'"
						ng-bind="partaker.status.balance===1?'已补款':'未补款'">
					</span>
					<span 
						ng-if = "partaker.commodity.model !== 'ladder'&&!partaker.status.success"
						ng-bind="partaker.status.refund?'已退款':'未退款'">
					</span>
				</span>
				<span 
					ng-if = "partaker.status.success"
					ng-bind = "partaker.status.trade===1?'已发货':'未发货'">
				</span>
				<span class="pull-right" ng-if="partaker.express.no">快递单号:<span class="text-primary" ng-bind="partaker.express.no"></span>
			</div>
		</div>-->
		</div>
	</div>
	</on-scroll>
	<icobar></icobar>
	<script>
		import {connect} from '../../framework/riot-redux';
		import partakerActions from '../partaker/partaker.actions';
		this.mixin('router');
		connect(
			state => ({
				merchant: state.merchant,
				partakers: state.partakers
			}),
			dispatch => ({
				nextPage: () => dispatch(partakerActions.partakersNextPage({my: true}))
			})
		)(this);
		var me = this;
		this.$use(function(next){next();})
		this.goOrderDetail = order => () => riot.route(`/order/_${order.id}`)
	</script>
</order-list>

