.input-group .form-control:last-child {
  border-left-width:0;
}
.input-group .form-control:last-child:focus {
  border-left-width:0;
}
.input-group-addon {
  border-radius: $border-radius-large;
}
.input-group-btn > .btn{
	line-height:1.34;
	border-radius: 6px;
}