.panel-body{padding:5px;}
.panel-desc{border:0;background:#F6F7F7}
.panel-desc .panel-title{font-size:14px;}
.panel-heading {padding: 10px 5px;border-radius: 0;}
.panel-group .panel-heading + .panel-collapse .panel-body{border:0}
.panel-list{background:#F6F7F7;}
.panel-body img {max-width:100%}
